.navbar{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    transition:.5s;
    box-shadow: 5px;
}
.navbar-toggler{
    color:white!important;
}
.nav-link{
    color:white;
    transform: .2s;
    border-radius:5px;

}
.nav-link:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transform:scale(1.1);
    
    color:white;

}
.card
{
    margin:20px auto;
    border:2 px solid black!important;
    box-shadow: 10px 10px 20px;
    transition: .5s;
}
.card:hover{
    transform: scale(1.1);
} 
